.project-dialog__overlay {
    background: #00000088;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-dialog__container {
    background: #330707;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.project-dialog__input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}